.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}
.leftSection {
  width: 65%;
  height: 100%;
  background-image: url("/images/background/authFormBgImg.svg");
  background-position: left 0 top 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.rightSection {
  width: 35%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.logo img {
  height: 150px;
  width: 150px;
}

.authCard {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.forgotPasswordCard {
  width: 70%;
  display: flex;
}
