.container {
  display: grid;
  grid-template-columns: 110px 1fr;
  padding: 10px;
  gap: 1.5rem;
}
.logo {
  position: relative;
}
.text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px 5px 0px;
}

.title {
  text-overflow: ellipsis;
  font-size: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  color: #7e22ce;
}
.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  color: #3c3c3c;
  font-size: 12px;
}
.editTime {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  color: gray;
  font-size: 10px;
}
