.projectsListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectsListHeader h4 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.projectsList {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  gap: 2vw;
  padding: 10px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .container {
    padding: 20px 50px 0px 50px !important;
  }
  .title {
    font-size: 35px !important;
    padding: 25px;
  }

  .content {
    font-size: 16px !important;
    padding: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: auto auto;
    gap: 20px;
  }
}
@media screen and (min-width: 425px) and (max-width: 500px) {
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  .container {
    padding: 20px 50px 0px 50px !important;
  }
  .title {
    font-size: 30px !important;
    padding: 20px;
  }

  .content {
    font-size: 16px !important;
    padding: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    padding: 20px 50px 0px 50px !important;
  }
  .title {
    font-size: 28px !important;
    padding: 20px;
  }

  .content {
    font-size: 16px !important;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 0px 20px !important;
  }
  .title {
    font-size: 22px !important;
    padding: 20px;
  }

  .content {
    font-size: 16px !important;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}
