.main_container {
  width: 950px;
  background-color: white;
  height: 300px;
  border-radius: 30px;
  padding: 1.5rem 1.5rem 0px 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main_container p {
  margin: 0px;
  padding-left: 10px;
}

.addModalTop {
  font-weight: 700;
  font-size: 2rem;
  padding-left: 10px;
}

.addModalMid {
  display: flex;
  flex-direction: column;
}
.addModalMid p {
  color: rgb(95, 94, 94);
}

.addModalBottom {
  display: flex;
  gap: 1rem;
  justify-content: end;
  flex: 1;
}
