.title {
  font-size: 1.5rem;
  padding: 0px 0px 20px 5px;
}
.edit_trans_header {
  display: flex;
  justify-content: space-between;
}
.edit_trans_header .action_buttons {
  display: flex;
  gap: 1rem;
}

.edit_trans {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.edit_trans svg {
  cursor: pointer;
}
.edit_trans_container {
  height: 100% !important;
  width: 100%;
}
.edit_trans_container span {
  color: red;
  font-size: 1rem;
}
.edit_trans_container textarea {
  height: 100%;
  width: 99%;
  padding: 2rem;
  color: #63635e;
  font-size: 1rem;
  border: 1px solid #c7c7c74d;
  border-radius: 10px;
  box-shadow: 0px 3.33px 5.33px 0px rgba(0, 0, 0, 0.114);
  margin: 2rem 5px 5px 5px;
  resize: none;
  height: 450px;
  outline: none;
}

.podcastCards {
  padding: 5px 5px;
  width: 100%;
  display: flex;
  gap: 20px;
  overflow: scroll;
  justify-content: space-between;
  align-items: center;
  scrollbar-width: 0;
}
.podcastCards::-webkit-scrollbar {
  display: none;
}

.uploadFile {
  padding: 20px 5px 10px 5px;
  height: 350px;
  width: 100%;
}

.uploadCard {
  width: 100%;
  height: 100%;
  box-shadow: 0px 5.33px 5.33px 0px rgba(0, 0, 0, 0.114);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #c7c7c74d;
}

.uploadLogo {
  width: 100%;
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadLogo img {
  width: 85px;
  height: 85px;
  position: absolute;
}

.description {
  text-align: center;
  padding: 10px;
  font-weight: 400;
}

.description:nth-child(even) {
  font-size: 1.5vw;
}
.description:nth-child(odd) {
  color: rgba(128, 128, 128, 0.552);
  font-size: 1.3vw;
}

.selectBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* card container */
.card_container {
  padding: 1.5rem 1rem;
  border: 1px solid #c7c7c74d;
  border-radius: 7px;
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0px 3.33px 5.33px 0px rgba(0, 0, 0, 0.114);
  margin-bottom: 5px;
  cursor: pointer;
}
.card_container__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card_container__left :nth-child(1) {
  font-weight: 600;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 1.5rem;
}
.card_container__left :nth-child(2) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  color: #646464;
}
.card_container__right img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .uploadFile {
    height: 320px !important;
  }
}
