.project_list_container {
  padding-top: 2rem;
}
.projectsListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectsListHeader h4 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.projectsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  align-items: start;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  gap: 2rem;
  padding-top: 3rem;
}
.content {
  display: flex;
  justify-content: center;
}
.content span {
  display: -webkit-box !important;
  overflow: hidden !important;
  -webkit-line-clamp: 3 !important;
  line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
@media screen and (max-width: 1024px) {
  .projectsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .container {
    padding: 20px 50px 0px 50px !important;
  }
  .title {
    font-size: 35px !important;
    padding: 25px;
  }

  .content {
    font-size: 16px !important;
    padding: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
    line-clamp: 3;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 425px) and (max-width: 500px) {
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  .container {
    padding: 20px 50px 0px 50px !important;
  }
  .title {
    font-size: 30px !important;
    padding: 20px;
  }

  .content span {
    font-size: 16px !important;
    padding: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    padding: 20px 50px 0px 50px !important;
  }
  .title {
    font-size: 28px !important;
    padding: 20px;
  }

  .content {
    font-size: 16px !important;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 0px 20px !important;
  }
  .title {
    font-size: 22px !important;
    padding: 20px;
  }

  .content {
    font-size: 16px !important;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .projectsListHeader h4 {
    font-size: 5vw;
  }
  .projectsList {
    grid-template-columns: auto;
    gap: 20px;
  }
}
